# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here
import pandas as pd
company_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

# Identify the dimensions of the dataset by determining the number of rows and columns it contains.


company_df.shape
#the data frame has 11 columns and 4008 rows.

(4008, 11)

In [13]:
company_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [ ]:
company_df.isna().sum()

In [19]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
#You should also provide suggestions for fixing any incorrect data types.
print(company_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
None

In [ ]:
#Using the info() method we can see that Income, Monthly Premium Auto and Total Claim Amount have datatypes float.
#Looking at the head of datatable we can see that "Customer" column is a combination of numbers and strings, thus datatype can be STRING. 
#ST , Gender, Education ,  Policy type and Vehicle class can all be assigned STRING datatype.
#Customer lifetime Value is calculated in percentage, thus it needs to be a FLOAT.
#Number of open complaints stores the  complaints made by the client, but it is stored in DATE type datatype. This needs to be an integer datatype.

In [89]:
#Identify the number of unique values for each column and determine which columns appear to be categorical. 
#You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

# for Customer, number of Uniqe values 1071
# for ST, number of unique values = 8.
# Gender 5
# Number of open complaints = 6
# Pkolicy type = 3
# Vehicle class = 6

#Categorical columns: ST, GENDER, Education, Policy Type, Vehicle Class.

In [59]:
print(f"The unique values in the column ST are : {company_df['ST'].unique()}")

#The unique function gives 8 values, amongst them California, Arizona and Washington are repeated with their short form or Initials. 
#Thus, making actual number of unique values 5.

The unique values in the column ST are : ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

In [61]:
print(f"The unique values in the column GENDER are : {company_df['GENDER'].unique()}")

#Even though there are supposed to be only two values , we find 6 different versions of the two.

The unique values in the column ST are : [nan 'F' 'M' 'Femal' 'Male' 'female']

In [63]:
print(f"The unique values in the column Education are : {company_df['Education'].unique()}")

#The education level Bachelors has been delivered as Bachelor, hence, making the number of unique values 5.

The unique values in the column ST are : ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

In [65]:
print(f"The unique values in the column Policy Type are : {company_df['Policy Type'].unique()}")
#There are three types of Policy: Personal , Corporate and Special.

The unique values in the column Policy Type are : ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

In [67]:
print(f"The unique values in the column Vehicle Class are : {company_df['Vehicle Class'].unique()}")

# The six different types of Vehicle Class are: Four-Door car, Two-Door car, SUV, Luxury SUV, sports car and Luxury car.

The unique values in the column Vehicle Class are : ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [69]:
print(f"The unique values in the column Number of Open Complaints  are : {company_df['Number of Open Complaints'].unique()}")

The unique values in the column Number of Open Complaints  are : ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

In [81]:
print(f"The maximum value of the column Income is : {company_df['Income'].max()}")
print(f"The minimum value of the column Income is : {company_df['Income'].min()}")

#The Income of customer ranges from $0 to $99960. There is a huge difference in the income of the Customers.

The maximum value of the column Income is : 99960.0
The minimum value of the column Income is : 0.0

In [85]:
print(f"The maximum value of the column Monthly Premium Auto is : {company_df['Monthly Premium Auto'].max()}")
print(f"The minimum value of the column Monthly Premium Auto is : {company_df['Monthly Premium Auto'].min()}")

#The minimum Premium paid is $61, whereas the maximum is $35354. Here also a very huge discrepancy in the values in the two extremes can be seen.

The maximum value of the column Monthly Premium Auto is : 35354.0
The minimum value of the column Monthly Premium Auto is : 61.0

In [103]:
print(f"The maximum value of the column Total Claim Amount is : {company_df['Total Claim Amount'].max()}")
print(f"The minimum value of the column Total Claim Amount is : {company_df['Total Claim Amount'].min()}")

#The minimum claim amount is $0.382, whereas the maximum is $2893.24. The difference in the maximum and minimum value of claim amount is not as huge 
# compared to the monthly premium auto.

The maximum value of the column Total Claim Amount is : 2893.239678
The minimum value of the column Total Claim Amount is : 0.382107

In [95]:
numerical_columns = ['Income', 'Monthly Premium Auto', 'Total Claim Amount']
range = {col: (company_df[col].min(), company_df[col].max()) for col in numerical_columns}
range

{'Income': (0.0, 99960.0),
 'Monthly Premium Auto': (61.0, 35354.0),
 'Total Claim Amount': (0.382107, 2893.239678)}

In [111]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and 
#distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.

company_df.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [ ]:
# From the Data we can observe that there are three numerical columns.
#1. Income: The maximum and minimum values of customer income are $0 and $99960. The average income is $39295.70 whereas teh median income is $36234.
#There is not huge difference between the mean and median value of income considering the vast difference in the two extreme values. From the data we can
#also see that 25 percentile earn less than $14072 while 25percent of customers earn more thatn $64631.

#2. Monthly Premium Auto: The maximum and minimum values of monthly premiumm are: $61 and $35354. The average is $193.23 whereas the Median value is 83. 
# There is a very large difference between the two which can be attributed to the presence of outliers. Since, 75% customers pay 109.5 or less,
# the average monthly premium do not represent the accurate picture.

#3. Total claim amount: The minimum amount claimed is $0.38 whereas the maximum claimed is $2893. Thus there is significant difference between the two
# extremeties. The average is about $404  while 50% of customer have claim amount between  $202 and $532 which is around the average amount claimed.

In [109]:
# Compute summary statistics for categorical columns and providing your conclusions based on these statistics

company_df.describe(include= 'all')

# The categorical columns from looking at the table above are: ST, GENDER, Education, Policy Type and Vehicle Class.
# The data in GENDER do not present a clean picture as there are only two gender given but in the data frame we can see that there are five.
# Similar can be said about ST , where we can see the same state to be represented by different terms . e.g. Cali and California are same.
# The policy type and vehicle classes are clear as there are exactly 3 policy types and 3 vehicle classes.

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
count,1071,1071,954,1071,1068,1071.000000,1071.000000,1071,1071,1071,1071.000000
unique,1071,8,5,6,1027,NaN,NaN,6,3,6,NaN
top,RB50392,Oregon,F,Bachelor,445811.34%,NaN,NaN,1/0/00,Personal Auto,Four-Door Car,NaN
freq,1,320,457,324,4,NaN,NaN,830,780,576,NaN
mean,NaN,NaN,NaN,NaN,NaN,39295.701214,193.234360,NaN,NaN,NaN,404.986909
std,NaN,NaN,NaN,NaN,NaN,30469.427060,1601.190369,NaN,NaN,NaN,293.027260
min,NaN,NaN,NaN,NaN,NaN,0.000000,61.000000,NaN,NaN,NaN,0.382107
25%,NaN,NaN,NaN,NaN,NaN,14072.000000,68.000000,NaN,NaN,NaN,202.157702
50%,NaN,NaN,NaN,NaN,NaN,36234.000000,83.000000,NaN,NaN,NaN,354.729129
75%,NaN,NaN,NaN,NaN,NaN,64631.000000,109.500000,NaN,NaN,NaN,532.800000
max,NaN,NaN,NaN,NaN,NaN,99960.000000,35354.000000,NaN,NaN,NaN,2893.239678

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [7]:
# Your code here

company_states = company_df.ST                        #creating a dataframe of ST column.                                                        
state_value_count = company_states.value_counts()      #frequency of each state.
state_value_count.sort_values().head()                 #showing the top 5 less common locations

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [50]:
#df_indexPersonal = company_df.loc[company_df["Policy Type"]=="Personal Auto",["Education","Income"]]  # displaying two columns

df_indexPersonal = company_df.loc[company_df["Policy Type"]=="Personal Auto",["Income"]].mean() #using loc to access from column Policytype with values Personal Auto. 
print(df_indexPersonal)   #used mean() function to calculate the mean of the column income.

Income    38180.698718
dtype: float64

In [51]:
df_indexCorporate = company_df.loc[company_df["Policy Type"]=="Corporate Auto","Income"].mean() #Calculating mean of Income of people with policy type Corporate Auto
print(df_indexCorporate)

41390.31196581197

In [ ]:
#Result : Comparing the two results, we can see that average income of customers with Corporate Auto policy is greater than that of customers with Personal auto policy.

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here

In [ ]:
filtered_df1 = company_df[company_df["Policy Type"]== "Personal Auto"]
Income_df = filtered_df1[["Income"]]
Income_df.reset_index(drop=True)